{
    "presets": [
    [
    "@babel/preset-env", {
    "useBuiltIns": "usage",
    "corejs": 3
    }
    ]
    ],
    "plugins": ["@babel/transform-flow-strip-types", "@babel/transform-classes", "transform-class-properties"]
    }